

.sidenav {
    height: 100%; 
    width: 200px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: white;
    overflow-x: hidden; 
    padding-top: 20px;
    margin-top: 4rem;
  }



.sidenav h5 {
    text-align: center;

}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    text-align: center;
    color: black;
    display: block;
}
  
  
.sidenav a:hover {
    color: #f1f1f1;
}
    
.main {
    margin-left: 200px; 
    padding: 0px 10px;
    margin-top: 8rem;
    position: relative;
    left: 45px;
}


@media screen and (max-width: 700px) {
    .sidenav {
      width: 100%;
      height: auto;
      position: relative;
      
    }
    .sidenav a {
        float: left;
        margin: 0 1.2rem;
  
    }
    
    div.main {margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
  .sidenav a {
    text-align: center;
    float: none;
  }
}



