
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    margin-top: 4rem;
  }

/* The navigation menu links */

.sidenav h5 {
    text-align: center;

}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    text-align: center;
    color: black;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}
    /* Style page content */
.main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    margin-top: 8rem;
    position: relative;
    left: 45px;
}


@media screen and (max-width: 700px) {
    .sidenav {
      width: 100%;
      height: auto;
      position: relative;
      margin: 0 auto;
    }
    .sidenav a {
        float: left;
        margin: 0 auto;
    
    }
    div.main {margin-left: 0;}
}
  
  @media screen and (max-width: 400px) {
    .sidenav a {
      text-align: center;
      float: none;
    }
