* {
    margin: 0 auto;
    padding: 0;
}

h1 {
    margin-bottom: 1em;
    display:inline-block;
    float: left;
}

#about h1::after  {
    content: "  👋";
  }

.emoji p {
    display:inline-block;
    width: 1em;
    height: 2em;
    font-size
   

}

h5 {
    /* text-align: center; */
    margin: 1rem auto;
}


.main div {
    border: 1px
}

.col-sm-2 {
    list-style: none;
    /* border: 1px solid black; */
    text-align: center;
    margin: 3rem auto;
}

.col-sm-10 {
    margin: 6rem auto;
    /* border: 1px solid black; */
    padding: 3rem 3rem 3rem 3rem;
    

}

.col-sm-10 p {
    clear: both;
}


li {
    list-style-type: none;
    /* text-align: center; */
    margin: 0.5rem auto;
    box-sizing: border-box;
}

.col-padding {
    /* border: 1px solid red; */
    /* text-align: center; */
    
}

ul {
    /* border: 1px solid blue; */
    margin: 2rem 0;
    padding: 0;


}

li a {
    display: block;
    width: 60px;
    color: #000;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
  }


.main {
    margin: 0 auto;

}